<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<body>
<div id="app-4">
  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
    <img src="img">
  </ol>
</div>

<script type="text/javascript">
  const app4 = new Vue({
    img:'./static/images/logo.png',
    el: '#app-4',
    data: {
      todos: [
        {text: '学习 JavaScript'},
        {text: '学习 Vue'},
        {text: '整个牛项目'}
      ]
    }
  });
</script>
</body>
</html>
